.header {
  margin: 0 auto;
  padding: 45px 20px 40px;
  max-width: 880px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__image {
  width: 173px;
  height: 33px;
  background-image: url(../images/HeaderSVG.svg);
  background-size: cover;
}

.header__divider {
  border-bottom: thin solid;
  color: #545454;
}

@media screen and (max-width: 620px) {
  .header {
    padding: 28px 20px 42px;
  }

  .header__image {
    width: 126px;
    height: 24px;
  }
}
