.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 45px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.modal_opened {
  display: flex;
}

.modal__container {
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.modal__header {
  max-width: 330px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
  padding: 34px 64px 0 36px;
}

.modal__close-button {
  position: absolute;
  right: -45px;
  top: -45px;
  width: 40px;
  height: 40px;
  background: transparent url(../images/CloseIcon.svg) center no-repeat;
  border: none;
  transition: opacity 0.2s linear;
}

.modal__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .modal {
    padding: 0 20px;
  }

  .modal__close-button {
    right: 0px;
    top: -45px;
  }
}
