.posts {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 20px 67px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 20px 17px;
}

@media screen and (max-width: 920px) {
  .posts {
    max-width: 598px;
  }
}

@media screen and (max-width: 620px) {
  .posts {
    width: 282px;
    padding: 0 0 48px;
  }
}
