.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 20px 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  width: 415px;
  height: 77px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #fff;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../images/EditButton.png);
  background-size: cover;
  margin-top: 16px;
  transition: background-image 0.2s linear;
}

.profile__edit-button:hover {
  background-image: url(../images/EditButtonHover.png);
  cursor: pointer;
}

.profile__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  align-self: flex-end;
}

.profile__post-button {
  width: 150px;
  height: 50px;
  margin-left: 20px;
  background-image: url(../images/Plus.png);
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  transition: opacity 0.2s linear;
}

.profile__post-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 920px) and (min-width: 621px) {
  .profile__post-button {
    width: 100px;
  }

  .profile__info {
    width: 300px;
  }

  .profile__name {
    font-size: 30px;
  }

  .profile__edit-button {
    margin-top: 10px;
  }

  .profile__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    width: 282px;
    height: 286px;
    padding: 0 20px 36px;
    flex-direction: column;
  }

  .profile__picture {
    margin-right: 0;
  }

  .profile__info {
    width: 282px;
    height: 50px;
    margin-right: 0;
    flex-direction: column;
    align-items: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.21;
    order: 1;
    margin-left: 35px;
  }

  .profile__edit-button {
    margin-top: 0;
    order: 3;
    align-self: baseline;
  }

  .profile__description {
    font-size: 14px;
    align-self: auto;
    order: 2;
    margin-left: 35px;
  }

  .profile__post-button {
    width: 282px;
    margin: 0;
  }
}
