.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  width: 415px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile__name {
  margin: 0 0 7px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 24px);
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url(../images/EditButton.svg) center no-repeat;
  border: thin solid #fff;
  margin-top: 16px;
  transition: opacity 0.2s linear;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  align-self: flex-end;
}

.profile__post-button {
  width: 150px;
  height: 50px;
  margin-left: 20px;
  background: transparent url(../images/Plus.svg) center no-repeat;
  background-size: 22px 22px;
  border: 2px solid #fff;
  border-radius: 2px;
  transition: opacity 0.2s linear;
}

.profile__post-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .profile__post-button {
    width: 100px;
  }

  .profile__info {
    width: 300px;
  }

  .profile__name {
    font-size: 30px;
    max-width: calc(100% - 21px);
  }

  .profile__edit-button {
    width: 21px;
    height: 21px;
    margin-top: 8px;
  }

  .profile__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    width: 282px;
    padding: 42px 0 36px;
    flex-direction: column;
  }

  .profile__picture {
    margin: 0;
  }

  .profile__info {
    width: 282px;
    margin-right: 0;
    padding: 30px 0 36px;
    justify-content: center;
  }

  .profile__name {
    margin: 0 10px 14px 10%;
    font-size: 22px;
    line-height: 1.21;
    max-width: 80%;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 3px;
  }

  .profile__description {
    font-size: 14px;
  }

  .profile__post-button {
    width: 282px;
    margin: 0;
  }
}
